body {
    background: black;
}

.container {
    width: 100%;
}

.jumbotron {
    background: dodgerblue;
    color: white;
}

.card-header {
    background: dodgerblue;
    color: white;
    font-size: 22px;
}



.card-body {
    background: black;
    color: white;  
}

tr {
    color: white
}

th {
    font-size: 20px;
    font-weight: 500;
}
